.bg-container{
    background-color: rgb(237, 245, 245);
    height:100vh;
    width:400px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}
.button-1{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 7px;
    background-color: rgb(7, 7, 206);
    color:white;
    border:none;
}
.img-20{
    margin-left: 20px;
}
.card-2{
    padding:10px;
    background-color: rgb(201, 210, 241);
    height:100px;
    width:360px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left:20px;
    margin-bottom: 20px;
}
.img-11{
    height:50px;
    width:50px;
    margin-top: 20px;
}
.img-01{
    background-color: rgb(2, 253, 170);
    height: 100px;
    width:100px;
    padding:10px;
    margin-left: 20px;
    border-radius: 10px;
}
.symptoms{
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
}
.img-02{
    background-color: rgb(241, 20, 112);
    height: 100px;
    width:100px;
    padding:10px;
    margin-left: 20px;
    border-radius: 10px;
}
.img-03{
    background-color: rgb(156, 38, 253);
    height: 100px;
    width:100px;
    padding:10px;
    margin-left: 20px;
    border-radius: 10px;
}
.card-3{
    background-color: rgb(250, 210, 206);
    height:150px;
    width:360px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left:20px;
    padding:10px;
}
h5{
 margin-left: 20px;   
}